# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

workflows:
  version: 2
  test:
    jobs:
      - py3.6-np1.15
      - py3.5-np1.15

jobs:
  py3.6-np1.15: &test-template
    docker:
      - image: circleci/python:3.6.1
    environment:
      NUMPY_VERSION: 1.15.2
      CYTHON_VERSION: 0.28.5

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install System Dependencies
          command: sudo apt-get update && sudo apt-get install -y openmpi-bin libopenmpi-dev build-essential cython

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}

      - run:
          name: Install numpy and cython
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -q numpy=={{ .Environment.NUMPY_VERSION }} cython=={{ .Environment.CYTHON_VERSION }}

      - run:
          name: Install and build enspara
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -qe .[dev]

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup.py" }}

      - run:
          name: Run non-MPI tests
          command: |
            . venv/bin/activate
            nosetests -a '!mpi' enspara

      - run:
          name: Run MPI tests
          command: |
            . venv/bin/activate
            mpiexec -n 2 nosetests -a mpi enspara

      - store_artifacts:
          path: test-reports
          destination: test-reports

  py3.5-np1.15:
    <<: *test-template
    docker:
      - image: circleci/python:3.5    
