name: Upload Python Package

#on:
  #release:
    #types: [created]
    
on:
  pull_request:
  push:
    branches:         # array of glob patterns matching against refs/heads. Optional; defaults to all
      - master          # triggers on pushes that contain changes in master

    
jobs:
  deploy:
    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest , windows-latest, ubuntu-18.04
        python: [3.6, 3.7]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        sudo apt-get install build-essential libgomp1 libstdc++6 gcc-multilib patchelf 
        python -m pip install --upgrade pip
        pip install numpy cython mdtraj
    - name: Build manylinux Python wheels
      uses: Longbowman/python-wheels-manylinux-build@v0.1.2
      with:
        python-versions: 'cp36-cp36m cp37-cp37m'
        build-requirements: 'setuptools numpy cython mdtraj'
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload wheelhouse/*-manylinux1_x86_64.whl --verbose
